<div data-role="header">
    <h1>Gozintas</h1>
</div>
<div class = "background-page">

    <div class = "question_input">
        The group ordered the following extras:<br>
        <input class = "input_text" id="wine_amount" type="number" step = "0.01" name="wine_amount" placeholder="0.00" min="0.00" style="width:10%; display:inline;">
        <label for="wine_amount" class="label_gaz wine_rate">Wine Total (alternative tip rate)</label>
    </div>
    <div class = "question_input">
        <input class = "input_text" id="carry_out_amount" type="number" step = "0.01" name="carry_out_amount" placeholder="0.00" min="0.00" style="width:10%; display:inline;">
        <label for="carry_out_amount" class="label_gaz takeout_rate">Carry-out Total (0% tip rate)</label>
    </div>

    <div class="buttons">
        <a href="#page4" data-role="button">Next</a>
    </div>
</div>