<div data-role="header">
    <h1>Gozintas</h1>
</div>
<div class = "tabs-top">
    <div class="split-bill">
        <a href="#split-bill">
            <div class="paper-icon"></div>
            <div class="text-tab">Split Bill</div>
        </a>
    </div>
    <div class="determine-tip">
        <a href="#determine-tip">
            <div class="percent-icon"></div>
            <div class="text-tab">Determine Tip</div>
        </a>
    </div>
</div>
<div class = "background-page">
    <div class = "inner-page">
		<div class="groups-final">
		    <div data-role="collapsible" data-content-theme="c" id="group-1" data-theme="a" class="group-1 visible" data-routing="total.html">
		        <h3>Group 1</h3>
		    </div>
		</div>
	</div>
</div>