<div data-role="header">
    <h1> Gazintas</h1>
</div>
<div class = "question_input">
    <div class="div_select_gaz">
        <select class="select_gaz tip_rate" id="tip_rate" name="tip_rate" data-inline="true" data-routing="tip-rate.html">
        </select> 
    </div>
    <label for="tip_rate" class="label_gaz tip_rate">Percentage Tip</label>
</div>
<div class="menu">
    <div class = "question_input">
        <label class = "input_text_label" for="total_amount">Do you want to exclude or change the tip on Amount:</label>
        <br> 
        <select class="select_gaz drink_desert_tip_rate" id="drink_desert_tip_rate" name="drink_desert_tip_rate" data-inline="true" data-routing="tip-rate.html">
        </select> 
        <input class = "input_text" id="total_amount" type="number" step = "0.01" name="total_amount" disabled="">
        <div data-role = "controlgroup" data-type="horizontal">
            <a href ="#yes" data-role="button">Yes</a>
            <a href = "#no" data-role="button">No</a>
        </div>
     </div>
</div>
<a href="#five" id ="next_button_page4" data-role="button">Next</a>

