<div data-role="header">
    <h1>Gozintas</h1>
</div>
<div class = "question_input">
    <label class = "input_text_label" for="total_amount">The individual check for a party of</label>
    <input class = "input_text" id="total_amount" type="number" step = "0.01" name="total_amount" disabled="">
</div>

<div class="groups-final">
    <div data-role="collapsible" data-content-theme="c" id="group-1" data-theme="a" class="group-1 visible" data-routing="total.html">
        <h3>Group 1</h3>
    </div>
</div>