<div data-role="header">
    <h1> Gazintas</h1>
</div>
<div class = "question_input">
    <label class = "input_text_label" for="total_individuals">The individual check for a party of</label>
    <input class = "input_text" id="total_individuals" type="number" step = "0.01" name="total_individuals" style = "width:97%;" disabled="">
</div>


<div class = "page5 pre-tax amount">
    <label class = "input_text_label" for="pre_tax_amount">Food total</label>
    <input class="input_text" id="pre_tax_amount" type="text"  pattern="[0-9]*" name="pre_tax_amount" style = "width:97%;" disabled="">
</div>

<div class = "page5 total_tip">
    <label class = "input_text_label" for="total_tip">Tax</label>
    <input class="input_text" id="total_tip" type="text"  pattern="[0-9]*" name="total_tip" style = "width:97%;" disabled="">
</div>

<div class = "ui-grid-a">

    <div class = "page5 total_tip ui-block-a">
        <label class = "input_text_label" for="total_tip">Tip individual</label>
        <input class="input_text" id="total_tip" type="text"  pattern="[0-9]*" name="total_tip" style = "width:97%;" disabled="">
    </div>

    <div class = "page5 total_tip ui-block-b">
        <label class = "input_text_label" for="total_tip">Tip total</label>
        <input class="input_text" id="total_tip" type="text"  pattern="[0-9]*" name="total_tip" style = "width:97%;" disabled="">
    </div>
</div>

<div class = "ui-grid-a">
    <div class = "page5 total_tip ui-block-a">
        <label class = "input_text_label" for="total_tip">Total</label>
        <input class="input_text" id="total_tip" type="text"  pattern="[0-9]*" name="total_tip" style = "width:97%;" disabled="">
    </div>

    <div class = "page5 total_tip ui-block-b">
        <label class = "input_text_label" for="total_tip">Total for party</label>
        <input class="input_text" id="total_tip" type="text"  pattern="[0-9]*" name="total_tip" style = "width:97%;" disabled="">
    </div>

</div>

