<div class = "page5 food">
    <label class = "input_text_label" for="total_food">Food</label>
    <input class="input_text" id="total_food" type="text"  pattern="[0-9]*" name="total_food" style="width:10%; display:inline;" disabled="">
</div>
<div class = "page5 extras">
    <label class = "input_text_label" for="total_extras">Extras</label>
    <input class="input_text" id="total_extras" type="text"  pattern="[0-9]*" name="total_extras" style="width:10%; display:inline;" disabled="">
</div>
<div class = "page5 reductions">
    <label class = "input_text_label" for="total_reductions">Reductions</label>
    <input class="input_text" id="total_reductions" type="text"  pattern="[0-9]*" name="total_reductions" style="width:10%; display:inline;" disabled="">
</div>
<div class = "page5 food_tip">
    <label class = "input_text_label" for="total_food_tip">Food Tip</label>
    <input class="input_text" id="total_food_tip" type="text"  pattern="[0-9]*" name="total_food_tip" style="width:10%; display:inline;" disabled="">
</div>
<div class = "page5 wine">
    <label class = "input_text_label" for="total_wine_amount">Wine</label>
    <input class="input_text" id="total_wine_amount" type="text"  pattern="[0-9]*" name="total_wine_amount" style="width:10%; display:inline;" disabled="">
</div>
<div class = "page5 wine_tip">
    <label class = "input_text_label" for="total_wine_tip">Wine Tip</label>
    <input class="input_text" id="total_wine_tip" type="text"  pattern="[0-9]*" name="total_wine_tip" style="width:10%; display:inline;" disabled="">
</div>
<div class = "page5 total_tip">
    <label class = "input_text_label" for="total_tip">Total Tip</label>
    <input class="input_text" id="total_tip" type="text"  pattern="[0-9]*" name="total_tip" style="width:10%; display:inline;" disabled="">
</div>
<div class = "question_input">
    <label class = "input_text_label" for="total_carry_out">Carry Out</label>
    <input class="input_text" id="total_carry_out" type="text"  pattern="[0-9]*" name="total_carry_out" style="width:10%; display:inline;" disabled="">
</div>
<div class = "page5 tax">
    <label class = "input_text_label" for="total_tax">Tax</label>
    <input class="input_text" id="total_tax" type="text"  pattern="[0-9]*" name="total_tax" style="width:10%; display:inline;" disabled="">
</div>
<div class = "page5 total">
    <label class = "input_text_label" for="total_amount_final">Total</label>
    <input class="input_text" id="total_amount_final" type="text"  pattern="[0-9]*" name="total_amount_final" style="width:10%; display:inline;" disabled="">
</div>